In [ ]:
# For loops for

In [8]:
from collections.abc import Iterable


item1 = [1, 2, 3]
item2 = "hello"
item3 = 123
item4 = {1, 2, 3}
item5 = -67

# Check if each item is iterable
print(isinstance(item1, Iterable))  
print(isinstance(item2, Iterable)) 
print(isinstance(item3, Iterable))  
print(isinstance(item4, Iterable))  
print(isinstance(item5, Iterable))

True
True
False
True
False

In [11]:
sequence = ["python","java","c++", "mysQl","database"]
for item in sequence:
    print(item)

python
java
c++
mysQl
database

In [7]:
sequence = {"name":"mnshu","class":"python"}
for item in sequence:
    print (item)

name
class

In [ ]:
#using Range() function with for loops

In [19]:
import time 
a = ["apple","banana","date","orange","papaya"]
for item in a:
    print(item)
    time.sleep(5)

apple
banana
date
orange
papaya

In [20]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [23]:
for i in range(2,25,3):
    print(i)

2
5
8
11
14
17
20
23

In [ ]:
# Nested for loops

In [27]:
sequence = ["Rahul","sangwan@gmail.com","Ram","ram123@yahoo.com","Aman","Aman@gmail.com","radharani","rani@rex.com"]
sequence_length = len(sequence)

for name in range(2,sequence_length,1): # every second element (step by 2)
    print(sequence[name])

Ram
ram123@yahoo.com
Aman
Aman@gmail.com
radharani
rani@rex.com

In [28]:
sequence = ["Rahul","sangwan@gmail.com","Ram","ram123@yahoo.com","Aman","Aman@gmail.com","radharani","rani@rex.com"]
sequence_length = len(sequence)

for name in range(1,sequence_length,1): # every second element (step by 2)
    print(sequence[name])

sangwan@gmail.com
Ram
ram123@yahoo.com
Aman
Aman@gmail.com
radharani
rani@rex.com

In [31]:
sequence = ["Rahul","sangwan@gmail.com","Ram","ram123@yahoo.com","Aman","Aman@gmail.com","radharani","rani@rex.com"]
sequence_length = len(sequence)

for email in range(2,sequence_length,2): # every second element (step by 2)
    print(sequence[email])

Ram
Aman
radharani

In [32]:
sequence = ["Rahul","sangwan@gmail.com","Ram","ram123@yahoo.com","Aman","Aman@gmail.com","radharani","rani@rex.com"]
sequence_length = len(sequence)

for email in range(1,sequence_length,2): # every second element (step by 2)
    print(sequence[email])

sangwan@gmail.com
ram123@yahoo.com
Aman@gmail.com
rani@rex.com

In [38]:
indian_employee = [["Ram","patel"],["priya","sharma"],["raj","malhotra"]]
for employee in indian_employee:
    print(employee)

['Ram', 'patel']
['priya', 'sharma']
['raj', 'malhotra']

In [39]:
for employee in indian_employee:
    for employee_name in employee:
        print(employee_name)

Ram
patel
priya
sharma
raj
malhotra

In [ ]:
# pass

In [47]:
for i in range(5):
    pass
    
print("hello")
print("this")

hello
this

In [ ]:
# break

In [3]:
sequence =("python","java","database","ram","mnshu","mnshu")
for element in sequence:
    if element == "mnshu":
        break
    print(element)

python
java
database
ram

In [ ]:
#continue

In [2]:
sequence =("python","java","database","ram","mnshu","mnshu")
for element in sequence:
    if element == "mnshu":
        continue
    print(element)

python
java
database
ram

In [ ]:
# continue statement

In [6]:
students = [
    {'name':'mnshu','grades':[80,90,90]},
    {'name':'mnsh','grades':[80,95,90]},
    {'name':'mns','grades':[]},
    {'name':'mn','grades':[80,90,60]},
    {'name':'m','grades':[80,90,98]},
]
for student in students:
    if not student['grades']:
        print(f"skipping {student['name']} because of missing grades")
        continue  
    average_grade = sum(student['grades'])/len(student['grades'])
    print(f"{student['name']}'s average grade:{average_grade}")

mnshu's average grade:86.66666666666667
mnsh's average grade:88.33333333333333
skipping mns because of missing grades
mn's average grade:76.66666666666667
m's average grade:89.33333333333333

In [ ]:
#else statement with for loop

In [9]:
for i in range(9):
    print(i)
else:
    print("loop competed successfully")

0
1
2
3
4
5
6
7
8
loop competed successfully

In [14]:
my_shopping_list = ["apple","banana","milk","bread","eggs","jelly","biscuit"]
item ="bread"
for listed_item in my_shopping_list:
    if listed_item == item:
        print(f"{item}is found in the shopping list.")
        break
else:
        print(f"{item} is not found in the shopping list.")

breadis found in the shopping list.

In [ ]:
# While loop

In [1]:
i=1
while i <6:
    print(i)
    i=i+1

1
2
3
4
5

In [2]:
print(i <6)

False

In [3]:
user_password = 20
import webbrowser


while true:
    
    user_input = int(input("Enter your password:"))
    if user_password == user_input:
        print("you are authorised to access internet")
        webbrowser.open("www.google.com")
        break


    
    else:
        print("password mismatch")

NameError: name 'true' is not defined

In [6]:
user_password = 20

import webbrowser


while True:
    user_input = int(input("Enter your password : "))
    
    if user_password == user_input:20
        print("You are authorised to access internet")
        
        webbrowser.open("www.google.com")
        
        break
        
    else:
        print("password mismatch")

Enter your password :  49

password mismatch

Enter your password :  20

You are authorised to access internet

In [8]:
user_password = 45
no_attempts = 1
import webbrowser
while no_attempts<4:
    input_password = int(input("Enter your password"))
    if user_password ==input_password:
        print("you are authorised to access internet")
        webbrowser.open("www.google.com")
        break
    else:
        print("password mismatch")
        no_attempta = no_attempta +1

Enter your password 45

you are authorised to access internet

#while loop with else block

In [10]:
table = 2
for i in range(1,11):
    print(table,"x",i, "=",table*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [11]:
list1 = [["thusi", 1, 2, 3, 4], "python", ("tuple", 78), {"now"}, [[["This"]]]]

# List to store strings
strings = []

# Iterate through the items in list1
for item in list1:
    if isinstance(item, str):  # If it's a string, add it to the list
        strings.append(item)
    elif isinstance(item, (list, tuple, set)):  # If it's a nested list, tuple, or set
        for sub_item in item:
            if isinstance(sub_item, str):
                strings.append(sub_item)
            elif isinstance(sub_item, (list, tuple, set)):  # Handle deeper nested structures
                for deeper_item in sub_item:
                    if isinstance(deeper_item, str):
                        strings.append(deeper_item)

print(strings)

['thusi', 'python', 'tuple', 'now']

In [ ]:
#usring recursion

In [12]:
def extract_strings(data):
    strings = []
    
    # Check if the data is a list, tuple, or set
    if isinstance(data, (list, tuple, set)):
        for item in data:
            strings.extend(extract_strings(item))  # Recursively handle nested items
    elif isinstance(data, str):  # If it's a string, add it to the result
        strings.append(data)
    
    return strings

# Given list1
list1 = [["thusi", 1, 2, 3, 4], "python", ("tuple", 78), {"now"}, [[["This"]]]]

# Extracting strings
result = extract_strings(list1)

print(result)

['thusi', 'python', 'tuple', 'now', 'This']